<!DOCTYPE html>
       <!--  Caterina Giannecchini Rosario, 2019-8106, grupo 2 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBlog</title>
    <link rel="stylesheet" href="~/css/sobren.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


</head>

<body>
   

    <section class="contenedor">

        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Jose Obed Zorrilla</a>
            </div>
        </div>
        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Ronald Cabrera</a>
            </div>
        </div>
        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Caterina Giannecchini</a>
            </div>
        </div>
        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Eudy Gonzalez</a>
            </div>
        </div>
        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Bradigson</a>
            </div>
        </div>
        <div class="carta">
            <img class="imagen" src="~/img/fondo 2.jpg" alt="php">
            <div class="cont-texto">
                <a class="titulo-texto">Lenon Mercedes</a>
            </div>
        </div>

    </section>


    <!--     <a href="lenguajes/java.html"title="veamos java">java lenguaje de programacion</a>
     -->
    <script src="script.js"></script>

</body>
</html>