@model  IEnumerable<WebApplication3.App_Data.Foro>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

<script src="~/Content/lib/jquery/dist/jquery.js"></script>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://rockcontent.com/es/wp-content/uploads/sites/3/2021/04/productividad-en-el-trabajo.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Estas buscando trabajo como tecnologo?</h1>
            <p>Nuevas ofertas de trabajo para Empresas de Tecnologia cada hora. Empresas confiables. Tiempo completo, medio y parcial. Sin costo, fácil y a la portada de todos!</p>

            <a class="btn btn-primary" style="color:white" href="nuevoPost"><img src="~/Content/img/agregar-archivo.png" style="height:30px ; " width: 30px" /> Crea un nuevo post!</a>
        </div>
    </div>

    <p>

    </p>

    <div class="row gx-4 gx-lg-5">
        @if (Model != null)
        {
            int contador = 3;
            while (contador > 0)
            {
                foreach (var item in Model)
                {

                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h2>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm" href="@Url.Action("VerForo", "Home", new { id = item.ID_Foro })">Mas Info</a></div>
                        </div>
                    </div>

                    contador -= 1;

                    if (contador == 0)
                    {
                        break;
                    }
                }
            }
        }
    </div>
</div>
