@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1><br />

<p>
    Con el fin de proteger y salva guardar los datos suministrados por los usuarios, Servitras ha tomado las siguientes medidas en su sistema para valida que los datos no sean corrompidos y/o llegue a manos de 3 que no tiene ningún papel en el flujo del servicio que ofrecemos. Es por eso que hemos tomado las siguientes medidas:<br /><br />
    
    A) Ningún tercero o empresa externa a los empleadores podrá ver esa información suministrada. <br /><br />
    B) No está permitido enviar correos que nos sean para suministras información de vacantes o de empleo disponibles.<br /><br />
    C)  Los usuarios serán debidamente autenticado, para verificar que no este introduciendo información falsa.<br /><br />
</p>
