@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Todos los datoss sumistrador por los usuarios en esta pagina,solo seran visto por los empleadores.</br>
    Ningun tercero o empresa externa a los empleadores podra ver esa informacion suministrada, a demas 
    no esta permitido enviar correos que nos sean para sumisnistras informacion de vacantes o de empleo disponibles.</br>
    El incluplimiento de  estas medidas, sera sancionada por la ley. </p>
